/* All */
.welcome-description-container,
.endpoints-main-container .card,
.abouts-container {
    background-color: rgba(255, 255, 255, 0.014);
    color: rgba(255, 255, 255, 0.836);
}

/* Opacity To 0 When page reload / Animations */
.welcome-description-container {
    transform: translateY(-200%);
    transition: all 0.5s;
}

.endpoints-main-container {
    transform: translateY(200%);
    transition: all 1s;
}

.abouts-container {
    opacity: 0;
    transition: all 0.5s;
}
/* End of Opacity To 0 When page reload / Animations */

/* End of All */

/* Nav Bar */
.top-nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    text-decoration: none;
}

nav a .ph-flag {
    height: 32px;
    width: 32px;
}
/* End of Nav Bar */

/* Description / Welcome */
.btn-close-api-description {
    color: rgba(255, 255, 255, 0.836);
    position: absolute;
    top: 5px;
    right: 5px;
}
/* End of Description / Welcome */

/* Endpoints Card */
.endpoints-main-container {
    transition: all 0.3s;
}
/* End of Endpoints Card */

/* About */
.about-title {
    color: rgba(255, 255, 255, 0.836);
}
/* End of About */

/* Test */
.test-container {
    max-width: 600px;
}

#testUrl::placeholder {
    color: rgb(138, 138, 138);
}

#txtResponse {
    font-size: 10px;
}
/* End of Test */

@media (max-width: 500px) {
    .top-nav {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    /* Endpoints */
    .endpoint-container {
        flex-wrap: wrap;
    }

    .btnsContainer {
        margin: 0 !important;
    }

    .btnsContainer button {
        font-size: 13px;
    }

    .txtUrl {
        margin-top: 5px;
        font-size: 13px;
    }
    /* End of Endpoints */
}
